<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<weather>
			<general>
                <enable>1</enable>
                <api_key>bf2f066da4cb5024fe31b63d21fe957a</api_key>
                <units>metric</units>
                <city>Lublin</city>
			</general>
		</weather>
	</default>
</config>
